- 
    let header = {
        navItems: [
            {
                title: "Trang chủ",
                link: "/"
            },
            {
                title: "Giới thiệu",
                link: "/introduce.html"
            },
            {
                title: "Sản phẩm",
                link: "/product.html"
            },
            {
                title: "Tin tức",
                link: "/"
            },
            {
                title: "Bản đồ",
                link: "/map.html"
            },
            {
                title: "Liên hệ",
                link: "/contact.html"
            }
        ]
    }